extends ../layout
block content
  a(href='/') Volver
  br
  br
  br
  h1 Nuevo formulario
  br
  br

  form(action='/formulario/create',method='post')
    label(for='id') Personas:
    input#id(type='text' name='personas' ,required)
    br
    label(for='id') Tipo de vivienda:
    input#id(type='text' name='tipo_vivienda' ,required)
    br
    label(for='lat') Direccion:
    input#id(type='text' name='direccion',required)
    br
    label(for='id') Telefono:
    input#id(type='text' name='telefono' ,required)
    br
    label(for='lat') ECN:
    input#id(type='text' name='ecn',required)
    br
    br
    label(for='lat') Persona1:
    br
    label(for='lat') nombre:
    input#id(type='text' name='nombre1',required)
    br
    label(for='lat') apellido:
    input#id(type='text' name='apellido1',required)
    br
    label(for='lat') sexo:
    input#id(type='text' name='sexo1',required)
    br
    label(for='lat') fecha de nacimiento:
    input#id(type='date' name='date1',required)
    br
    label(for='lat') edad:
    input#id(type='text' name='edad1',required)
    br
    label(for='lat') etnia:
    input#id(type='text' name='etnia1',required)
    br
    br
    label(for='lat') Persona2:
    br
    label(for='lat') nombre:
    input#id(type='text' name='nombre2',required)
    br
    label(for='lat') apellido:
    input#id(type='text' name='apellido2',required)
    br
    label(for='lat') sexo:
    input#id(type='text' name='sexo2',required)
    br
    label(for='lat') fecha de nacimiento:
    input#id(type='date' name='date2',required)
    br
    label(for='lat') edad:
    input#id(type='text' name='edad2',required)
    br
    label(for='lat') etnia:
    input#id(type='text' name='etnia2',required)
    br
    br
    label(for='lat') Persona3:
    br
    label(for='lat') nombre:
    input#id(type='text' name='nombre3',required)
    br
    label(for='lat') apellido:
    input#id(type='text' name='apellido3',required)
    br
    label(for='lat') sexo:
    input#id(type='text' name='sexo3',required)
    br
    label(for='lat') fecha de nacimiento:
    input#id(type='date' name='date3',required)
    br
    label(for='lat') edad:
    input#id(type='text' name='edad3',required)
    br
    label(for='lat') etnia:
    input#id(type='text' name='etnia3',required)
    br
    input.btn(type='submit' name='OK' )
