extend ../layout

block content
  style.
    body{
      background-color: #33475b;
      background-image: url(cendo.jpg);
    }

    p{
      color: white;
    }
    h4{
      color: white;
    }
  section.form-register
  .container.px-5
    h4 Censo de la República de Bolumbia 
    br
    br
    p.
      Bienvenidos al Censo Poblacional de la República de Bolumbia.
      A continuación será redirigido hacia el formulario en el cual
      se encuentran los campos que deberá llenar.
      Al hacer click en el botón "Empezar formilario", estará aceptando 
      nuestras políticas establecidas.
      Esta información será recogida y almacenada para la recogida
      de diferentes estudios, además de tener datos concreto acerca
      de la población de la república de Bolumbia
    br
    br
    p
      button 
        a(href='/' style="text-decoration:none") Home
    p   
      button 
        a(href='/formulario/create' style="text-decoration:none") Empezar formulario
